name: Semgrep SAST

on:
  push:

jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Semgrep
        uses: returntocorp/semgrep-action@v1

      - name: Run Semgrep
        run: semgrep scan --config auto --verbose
